<a href="https://colab.research.google.com/github/AnkitSingh-12/pandas-lib/blob/main/pandasproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv('https://raw.githubusercontent.com/rajeevratan84/datascienceforbusiness/master/titanic.csv')
df

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,0

**1. Write a query to retrieve all passengers who embarked from Southampton (Embarked =
'S').
**

In [7]:
df=df[df['embarked']=='S']
df

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1295,3,"Windelov, Mr. Einar",male,21.0000,0,0,SOTON/OQ 3101317,7.2500,NaN,S,0
1296,3,"Wirz, Mr. Albert",male,27.0000,0,0,315154,8.6625,NaN,S,0
1297,3,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,NaN,S,0
1298,3,"Wittevrongel, Mr. Camille",male,36.0000,0,0,345771,9.5000,NaN,S,0
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,0

**2. Filter the dataset to find passengers who paid a fare between 20 and 40 units of currency.**

In [8]:
df=df[(df['fare']>=20) & (df['fare']<=40)]
df
#

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
5,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.550,E12,S,1
14,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.000,A23,S,1
15,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.925,NaN,S,0
29,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.0,0,0,110564,26.550,C52,S,1
30,1,"Blackwell, Mr. Stephen Weart",male,45.0,0,0,113784,35.500,T,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1210,3,"Skoog, Mr. Wilhelm",male,40.0,1,4,347088,27.900,NaN,S,0
1211,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0,1,4,347088,27.900,NaN,S,0
1265,3,"Van Impe, Miss. Catharina",female,10.0,0,2,345773,24.150,NaN,S,0
1266,3,"Van Impe, Mr. Jean Baptiste",male,36.0,1,1,345773,24.150,NaN,S,0
1267,3,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",female,30.0,1,1,345773,24.150,NaN,S,0

**3. Filter the dataset to find passengers whose age is missing (Age = NaN).
**

In [9]:
df=df[df['age'].isnull()]
df

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
15,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,0
37,1,"Bradley, Mr. George (""George Arthur Brayton"")",male,NaN,0,0,111427,26.5500,NaN,S,1
46,1,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S,0
80,1,"Crafton, Mr. John Bertram",male,NaN,0,0,113791,26.5500,NaN,S,0
107,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S,1
118,1,"Franklin, Mr. Thomas Parham",male,NaN,0,0,113778,26.5500,D34,S,0
152,1,"Hawksford, Mr. Walter James",male,NaN,0,0,16988,30.0000,D45,S,1
179,1,"Klaber, Mr. Herman",male,NaN,0,0,113028,26.5500,C124,S,0
235,1,"Rheims, Mr. George Alexander Lucien",male,NaN,0,0,PC 17607,39.6000,NaN,S,1
254,1,"Saalfeld, Mr. Adolphe",male,NaN,0,0,19988,30.5000,C106,S,1
256,1,"Salomon, Mr. Abraham L",male,NaN,0,0,111163,26.0000,NaN,S,1
269,1,"Smith, Mr. Richard William",male,NaN,0,0,113056,26.0000,A19,S,0
318,1,"Williams-Lambert, Mr. Fletcher Fellows",male,NaN,0,0,113510,35.0000,C128,S,0
320,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S,1
382,2,"Corey, Mrs. Percy C (Mary Phyllis Elizabeth Mi...",female,NaN,0,0,F.C.C. 13534,21.0000,NaN,S,0
483,2,"Leitch, Miss. Jessie Wills",female,NaN,0,0,248727,33.0000,NaN,S,1
900,3,"Johnston, Master. William Arthur ""Willie""",male,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
901,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
902,3,"Johnston, Mr. Andrew G",male,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
903,3,"Johnston, Mrs. Andrew G (Elizabeth ""Lily"" Watson)",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
954,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S,0
955,3,"Lefebre, Miss. Ida",female,NaN,3,1,4133,25.4667,NaN,S,0
956,3,"Lefebre, Miss. Jeannie",female,NaN,3,1,4133,25.4667,NaN,S,0
957,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S,0
958,3,"Lefebre, Mrs. Frank (Frances)",female,NaN,0,4,4133,25.4667,NaN,S,0

**4. Write a query to retrieve passengers who had siblings or spouses aboard the Titanic
(SibSp > 0)**

In [10]:
df=df[df['sibsp']>0]
df

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
900,3,"Johnston, Master. William Arthur ""Willie""",male,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
901,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
902,3,"Johnston, Mr. Andrew G",male,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
903,3,"Johnston, Mrs. Andrew G (Elizabeth ""Lily"" Watson)",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
954,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S,0
955,3,"Lefebre, Miss. Ida",female,NaN,3,1,4133,25.4667,NaN,S,0
956,3,"Lefebre, Miss. Jeannie",female,NaN,3,1,4133,25.4667,NaN,S,0
957,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S,0

**5. Write a query to find passengers who survived and paid more than the median fare.**

In [23]:
df=df[df['survived']==1]
df=df[df['fare']>df['fare'].median()]
print(df)

Empty DataFrame
Columns: [pclass, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, survived]
Index: []

**6. Write a query to retrieve passengers who were under the age of 18.**

In [24]:
df=df[df['age']<18]
print(df)

Empty DataFrame
Columns: [pclass, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, survived]
Index: []

**7. Write a query to retrieve only the passengers who were both female and survived**

In [25]:
df=df[(df['sex']=='female') & (df['survived']==1)]
print(df)

Empty DataFrame
Columns: [pclass, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, survived]
Index: []

In [22]:
d = df[(df["survived"] == 1) & (df["sex"] == "female")]
print(d)

Empty DataFrame
Columns: [pclass, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, survived]
Index: []

**8. Filter the dataset to retrieve passengers who traveled in either first or second class**

In [26]:
df=df[(df['pclass']==1) | (df['pclass']==2)]
print(df)

Empty DataFrame
Columns: [pclass, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, survived]
Index: []

**9. Filter the dataset to find children (passengers under 18) who survived the disaster.**

In [27]:
df=df[(df['age']<18) & (df['survived']==1)]
print(df)

Empty DataFrame
Columns: [pclass, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, survived]
Index: []

**10.Filter the dataset to find all female passengers who traveled in first class**

In [28]:
df=df[(df['sex']=='female') & (df['pclass']==1)]
print(df)

Empty DataFrame
Columns: [pclass, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, survived]
Index: []

In [30]:
d= df[(df["sex"] == "female") & (df["pclass"] == 1)]
print(d)

Empty DataFrame
Columns: [pclass, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, survived]
Index: []