<a href="https://colab.research.google.com/github/AnkitSingh-12/pandas-lib/blob/main/pandas2nd_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/rajeevratan84/datascienceforbusiness/master/titanic.csv')
df

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,0

**4)how many ppl survived in b5 cabin**

In [ ]:
sv= df[(df['cabin'] == "B5") & (df["survived"] == 1)]

count = len(sv)
print(f"Number of people who survived in cabin B5: {count}")

Number of people who survived in cabin B5: 2

**5)count of females whose age is less than 20 and survived**

In [ ]:
dfa = df[(df['sex'] == 'female') & (df['age'] < 20) & (df['survived'] == 1)]
count = len(dfa)
print(f"Number of females under 20 who survived: {count}")

Number of females under 20 who survived: 72

**6)Total fare paid by embarked S females**

In [ ]:

dfb = df[(df['embarked'] == 'S') & (df['sex'] == 'female')]
fare = dfb['fare'].sum()
print(f"Total fare paid by females who embarked at S: {fare}")

Total fare paid by females who embarked at S: 11447.7378

**7)count of ppl in pclass 3 having only 1 person with them**

In [ ]:

dfc = df[(df['pclass'] == 3) & (df['sibsp'] == 0) & (df['parch'] == 0)]
count = len(dfc)
print(count)

472

**8)maximum fare paid in embarked Q**

In [ ]:

dfd = df[(df['embarked'] == 'Q')]
max_fare = dfd['fare'].max()
print(max_fare)

90.0

In [ ]:
df1=pd.read_csv('https://raw.githubusercontent.com/rajeevratan84/datascienceforbusiness/master/hr_data.csv')
df1

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,1003,2,157,3,0,1,0,sales,low
1,1005,5,262,6,0,1,0,sales,medium
2,1486,7,272,4,0,1,0,sales,medium
3,1038,5,223,5,0,1,0,sales,low
4,1057,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...
14994,87670,2,151,3,0,1,0,support,low
14995,87673,2,160,3,0,1,0,support,low
14996,87679,2,143,3,0,1,0,support,low
14997,87681,6,280,4,0,1,0,support,low
14998,87684,2,158,3,0,1,0,support,low

**9) Avg time spend by the ppl in support department who got promoted**

In [ ]:
sf2 = df1[(df1['department'] == 'support') & (df1['promotion_last_5years'] == 1)]
avg_time_spent = sf2['time_spend_company'].mean()
print(avg_time_spent)

3.45

**10)avg number of projects ppl with high salary are handling in IT departmen**

In [ ]:
sf3 = df1[(df1['department'] == 'IT') & (df1['salary'] == 'high')]
avg_projects = sf3['number_project'].mean()
avg_projects

**11) Total number of projects handled by support department.**

In [ ]:
sf4 = df1[(df1['department'] == 'support')]
total_projects = sf4['number_project'].sum()
total_projects

**12) Count of people in sales department who have work accident**

In [ ]:
sf5 = df1[(df1['department'] == 'sales') & (df1['Work_accident'] == 1)]
count = len(sf5)
count

587